#oy-editform
  %form{:action => WikiController.r(@action), :method => :post}
    %input{:type => :hidden, :name => :path, :value => @path, :class => "oy-path"}
    - if @extension
      %input{:type => :hidden, :name => :extension, :value => @extension}
    %fieldset
      %legend= @identifier.capitalize
      .spinner
        %img{:src => "/img/hspinner.gif"}
      #oy-preview-box
      #oy-editform-more
        - if @action == :new
          .oy-markup
            %ul
              - OY::Markup.real_markups.each do |mu|
                %li
                  - str = mu.extension == @extension ? "<strong>#{@extension}</strong>" : mu.extension
                  %a{:href => "/create/#{path}.#{mu.extension}"}= str
        .oy-textbox
          = oy_render_file "_desc_#{@extension}.haml"
        .oy-textarea
          %textarea{:name => :data, :class => :body}= @raw_data
        .oy-preview
          %input.awesome{:type => :submit, :name => :preview, :id => :preview, :value => "Preview"}
    .oy-edit-sub.container
      %p.desc Commit Message (optional)
      .oy-messagebox.sg-29
        %input{:type => :text, :value => "", :name => :message}
      .oy-submit.sg-3
        %input.awesome.red.large{:type => :submit, :name => :submit, :value => "#{action.to_s.capitalize}"}
