#oy-page
  #oy-about
    - msg = @wiki.commit.message
    .oy-msg= "<em>Commit Description</em>: #{msg.empty? ? '&lt;empty&gt;' : msg}"
  #oy-topic
    %h1= @wiki.title
  #oy-body
    = @wiki.data
  #oy-sub
    %ul
      - if @wiki.has_parent?
        %li.back-in-time
          %a{:href => @wiki.link(:version), :title => "Goto Previous Version"} Back In Time
        %li.history
          %a{:title => "History", :href => @wiki.link(:history)} History
      %li.edit
        %a{:title => "Edit Page", :href => @wiki.link(:edit)} Edit
      %li.ledit
        Last edited:
        %a{:title => "Last Edit / Permalink to this Version", :href => WikiController.r(@wiki.permalink), :class => "oy-perma"}= @wiki.date
      %li.author{:title => "Author of this Version"}= @wiki.author
