#oy-page
  #oy-about
    .author= @wiki.author
    .rev= @wiki.id
  #oy-topic
    %h1= @wiki.title
  #oy-body
    = @wiki.data
  #oy-sub
    %ul
      %li.edit
        %a{:href => @wiki.link(:edit)} Edit
      %li.ledit
        Last edited:
        = @wiki.date
