#oy-page
  #oy-about
    .author= @wiki.author
    .rev= @wiki.sha
    .msg= @wiki.commit.message
    - if @wiki.has_parent?
      .back-in-time
        %a{:href => @wiki.link(:version)} Back In Time
  #oy-topic
    %h1= @wiki.title
  #oy-body
    = @wiki.data
  #oy-sub
    %ul
      %li.edit
        %a{:href => @wiki.link(:edit)} Edit
      %li.ledit
        Last edited:
        = @wiki.date
