#oy-pageslide-link{:href => SpecialController.r(:pageslide, *@wiki.path.split("/"))}
#oy-page
  #oy-top
    = oy_render_file "_wikibuttons.haml", :wiki => @wiki, :sha => @sha
  #oy-dirlink
    = dirlink
  #oy-topic
    %h1= @wiki.html_title
  #oy-body
    - if not @wiki.redirected_from.empty? and @fragments != @wiki.fragments
      .oy-redirections= @wiki.redirections
    :preserve
      #{@wiki.data}
    - if @wiki.commit.message
      #oy-about
        - msg = @wiki.commit.message
        .oy-msg= "<em>Commit Description</em>: #{(!msg or msg.empty?) ? '&lt;empty&gt;' : msg}"
  #oy-sub
    %ul.left
      %li.ledit
        Last edited:
        %a{:title => "Last Edited / Permalink to this Version", :href => WikiController.r(@wiki.permalink), :class => "oy-perma"}= time_to_s(@wiki.date)
      %li.author{:title => "Author of this Version"}= @wiki.author
    = oy_render_file "_wikibuttons.haml", :wiki => @wiki, :sha => @sha
