#oy-page
  #oy-top
    = oy_render_file "_wikibuttons.haml", :wiki => @wiki, :sha => @sha
  #oy-topic
    %h1= @wiki.html_title
  #oy-body
    = @wiki.data
    #oy-about
      - msg = @wiki.commit.message
      .oy-msg= "<em>Commit Description</em>: #{msg.empty? ? '&lt;empty&gt;' : msg}"
  #oy-sub
    %ul.left
      %li.ledit
        Last edited:
        %a{:title => "Last Edited / Permalink to this Version", :href => WikiController.r(@wiki.permalink), :class => "oy-perma"}= time_to_s(@wiki.date)
      %li.author{:title => "Author of this Version"}= @wiki.author
    = oy_render_file "_wikibuttons.haml", :wiki => @wiki, :sha => @sha
