#oy-page
  #oy-topic
    %h1= @wiki.html_title
  #oy-body
    = @wiki.data
    #oy-about
      - msg = @wiki.commit.message
      .oy-msg= "<em>Commit Description</em>: #{msg.empty? ? '&lt;empty&gt;' : msg}"
  #oy-sub
    %ul.left
      %li.ledit
        Last edited:
        %a{:title => "Last Edit / Permalink to this Version", :href => WikiController.r(@wiki.permalink), :class => "oy-perma"}= time_to_s(@wiki.date)
      %li.author{:title => "Author of this Version"}= @wiki.author
    %ul.right
      - if @wiki.has_parent?
        %li.history.awesome
          %a{:title => "History", :href => @wiki.link(:history)} History
        %li.back-in-time.awesome
          %a{:href => @wiki.link(:version), :title => "Goto Previous Version"} Back In Time
        %li.compare.awesome
          %a{:title => "Compare with last Version", :href => @wiki.link(:compare)} Compare
      - if request[:sha] and not @wiki.locked?
        %li.compare.awesome
          %a{:title => "Revert to this version", :href => @wiki.link(:revert)} Revert
      - unless @wiki.locked?
        %li.edit.awesome
          %a{:title => "Edit Page", :href => @wiki.link(:edit)} Edit
      - else
        %li.awesome.locked.red
          Page is Locked
        
