#oy-page
  #oy-about
    .oy-msg= @wiki.commit.message
  #oy-topic
    %h1= @wiki.title
  #oy-body
    = @wiki.data
  #oy-sub
    %ul
      - if @wiki.has_parent?
        %li.back-in-time
          %a{:href => @wiki.link(:version)} Back In Time
      %li.edit
        %a{:href => @wiki.link(:edit)} Edit
      %li.ledit
        Last edited:
        %a{:href => WikiController.r(@wiki.permalink), :class => "oy-perma"}= @wiki.date
      %li.author= @wiki.author
