!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title.nil? ? "Oy!" : "#{page_prefix} #{@title} &mdash; Oy!"
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/awesome.css" }=''    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/squaregrid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/oy.css" }=''

    %script{:type => "text/javascript", :src => "/js/jquery.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery-ui.js"}=""
    %script{:type => "text/javascript", :src => "/js/modernizr-1.6.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/oy.js"}=""
    
  %body
    #oy-banner
      %a{:href => "/"}
        %img{:src => "/img/oybanner.png", :alt => "Oy!"}
      
    #wrap
      #head
        = oy_render_file "_head.haml"

      #oy-wrap
        = @content
        .push
    #footer
      = oy_render_file "_foot.haml"
