!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title.nil? ? "Oy!" : "#{page_prefix} #{@title} &mdash; Oy!"
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/

    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-reset.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/b-base.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/awesome.css" }=''    
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/squaregrid.css" }=''
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/oy.css" }=''
    %link{:id => :dynfont, :rel => "stylesheet", :type => "text/css", :href => "/css/font.css" }=''    

    %script{:type => "text/javascript", :src => "/js/jquery.js"}=""
    %script{:type => "text/javascript", :src => "/js/jquery-ui.js"}=""
    %script{:type => "text/javascript", :src => "/js/modernizr-1.6.min.js"}=""
    %script{:type => "text/javascript", :src => "/js/oy.js"}=""

    - unless OY.local?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3914026-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
  %body
    #oy-banner
      %a{:href => "/"}
        %img{:src => "/img/oybanner.png", :alt => "Oy!"}
      
    #wrap
      #head
        = oy_render_file "_head.haml"
      #oy-fontsel{"data-title" => "Click to select another Font"}
        AaBbCc

      #oy-wrap
        = @content
        .push
    #footer
      = oy_render_file "_foot.haml"
