#oy-media-ls
  %h1= "Image <strong>#{@img.identifier}</strong>"
  -if @perma_link_value
    .oy-backlink
      %a{:href => @img.permalink} Back last recent Version
  %p= "<em>Size</em> <code>#{@size}</code> Bytes"
  .image_box
    %img{:src => @img.media_url(@perma_link_value)}
  .oy-msg
    Commit Message:
    %em
      =@img.message
  - if @img.locked?
    .oy-locked
      Image is locked.
  - else
    .oy-replace
      = oy_render_file "oy/special/upload.haml", :value => @img.media_identifier.split(".").first, :title => "Replace"
  - if @img.has_parent?
    %h2 History
    %ul
      - @img.history.each do |himg|
        %li.no-force
          .oy-date= himg.date
          .lala
            %a{:href => himg.permalink(true)}= himg.ref

