#oy-page
  %h1#oy-topic All Pages
  #oy-all
    - i = -1
    - @contents.partition{|oby| (i+=1) % 2 == 1}.each do |row|
      %ul
        - row.each do |w|
          %li
            %span.oy-prfx= w.vprefix
            %a{:class => "oy-link x", :href => WikiController.r(w.link)}= w.html_title
            %span.oy-msg= " (#{w.message})"
            %span.oy-sha= " (#{w.commit.sha})"        

  
  
